body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cart-item{
  display: flex;
  margin: 15px 5px;
}


.right-block{
  padding: 0 20px;
}

.cart-item-actions{
  margin-top: 20px;
}

.action-buttons{
  cursor: pointer;
}

.cart{
  display: flex;
  flex-direction: column;
}